body {
    
    font-family: helvetica;
    margin: 0;
    background-color: #dbe8ff;
    
}

#wrapper{
    
    width: 980px;
    margin: 0 auto;
    background: #fff;
    
}

#main-navigation{
    
    background: white;
    position: fixed;
    width: 960px;
    top: 0;
    padding: 10px;
    
}

#main-navigation h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    padding: 8px;
    
}

#main-navigation ul{
    
    text-align: center;
    list-style-type: none;
    margin-right: 10px;
    
}

#main-navigation li{
    
    display: inline-block;
    margin-left: 20px;
    
}

#main-navigation a{
    
    color: #black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#main-navigation a:hover{
    
        background: #eee;
    border-radius: 4px;
}

#main-navigation a.current{
    
    background: #eee;
    border-radius: 4px;
    
}

img{
    
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    
}

#me-pic img{
    

    margin-top: 120px;
    width: 40%;

    
}

p {

    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    
}

h3 {
    
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    
    
}

#resume-pic img{
    
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    
}


input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.resize{
    
    height: 40px;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



div form{
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}